.container {
    display: flex;
    justify-content: space-between;
}
.philosopher-group {
    width: 48%; 
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}
form {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}
#graph {
    width: 100%;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    bottom: 0;
}

.pre-wrap {
    white-space: pre-wrap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates a four-column layout */
    gap: 1px; /* Represents the grid line size */
    background-color: #000; /* Grid lines color */
}

.header {
    background-color: #ddd; /* Header cells background color */
    padding: 8px;
    text-align: center;
}

.cell {
    background-color: #fff; /* Content cells background color */
    padding: 8px;
    text-align: center;
}

.excel-like {
    width: 100%;
    border-collapse: collapse; /* Eliminates the space between the borders */
}

